.verticalProgressBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 300px; /* Adjust height as needed */
  position: absolute;
  top: 16.7vw;
}

.progressContainer {
  width: 0.3rem;
  height: 12vw;
  position: absolute;
  background-color: #f282904d;
  margin-left: 1.3vw;
  margin-bottom: 6.5vw;
}

.progressBar {
  background-color: #f282904d;
  transition: height 0.3s ease;
}

.stepLabels {
  display: flex;
  flex-direction: column;
}

.stepLabel {
  color: white;
  font-weight: bold;
  width: 3vw;
  height: 3vw;
  font-size: 2.5rem;
  background-color: #f282904d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem; /* Adjust spacing between labels */
}

.stepLabel.accomplished {
  background-color: #f28290;
}

.radioRoot .MuiRadio-root {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

@media (max-width: 1200px) {
.progressContainer {
  height: 14vw;
}
}

@media (max-width: 1100px) {
  .progressContainer {
    height: 16vw;
  }
  }

@media (max-width: 900px) {
    .progressContainer {
      height: 18vw;
    }
    .stepLabel {
      font-size: 2rem;
    }
    }

    @media (max-width: 800px) {
      .progressContainer {
        height: 20vw;
      }
      }

      @media (max-width: 700px) {
        .progressContainer {
          height: 20vw;
          margin-bottom: 8.5vw;
        }
        }


      @media (max-width: 600px) {
        .progressContainer {
          height: 22vw;
          margin-bottom: 10.5vw;
        }
        }

        @media (max-width: 500px) {
          .progressContainer {
            height: 24vw;
            margin-bottom: 12.5vw;
          }
          }

          @media (max-width: 450px) {
            .progressContainer {
              height: 28vw;
              margin-bottom: 14.5vw;
            }
            }

          @media (max-width: 400px) {
            .progressContainer {
              height: 30vw;
              margin-bottom: 14.5vw;
            }
            }