label {
  font-size: 1.2rem;
  font-weight: bold;
  background: #e1e1e1;
  border: none;
  padding: 1.2rem 1.6rem;
  display: inline-block;
  position: relative;
  border-radius: 3rem;
  background-color: grey;
  color: black;

  &:hover {
    cursor: pointer;
    background: $border-color-focus;
  }
}

.label-image {
  font-size: 2rem;
  font-weight: bold;
  background: #f6f6f6;
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  color: #696868;
  padding: 1.2rem 1.6rem;
//   margin-top: 45%;
//   margin-left: 16%;
  width: 72%; /* Add padding for better visual appearance */

  &:hover {
    cursor: pointer;
    background: $border-color-focus;
  }
}

.label-image-text {
  width: 100%;
  margin-top: 60%;
  margin-left: 35%;
}

.label-input {
  border: none;
  background: none;
  padding: 1rem 1.2rem;
  color: #696868;
  border: none;

  &:hover {
    background: none;
  }
}

.label-error {
  color: rgb(235, 43, 43) !important;
}
