.charity-container {
  width:98.5%;
}
.charity-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(20% - 0.5vw), 1fr));
  padding: 0;
  grid-gap:0.5vw;
}

.charity-card {
  width: 100%;
  height: 100%;
  border: 1px solid $border-color;
  position: relative;
  border: none;
  overflow: hidden;
  margin-left:2rem;

}

.charity-card-check {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $green;
  z-index: 1;
}

.charity-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

.charity-card-img-wrapper {
  width: 100%;
  height: 100%;
  // padding: 0 $m-size;
  margin: auto;
  position: relative;
  transition: all 0.4s ease-in-out;
  object-fit: fill;
}

.image {
  width:95%;
  height:90%;
}

.charity-details {
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.charity-card-name {
  margin-top:0.5vw;
  margin-bottom:0;
  width: 100%;
  color: black;
  font-weight: 500;
  font-size: larger;
  overflow: hidden;
  text-overflow: ellipsis;
}

.charity-card-position {
  margin-bottom:2vw;
  margin-top:0.5vw;
  color:#61788A;
  font-weight: 1.2vw;
}

.charity-button {
  background-color: #f28290;
  border-radius: 5rem;
  border: none;
  color: white;
  height: 5rem;
  width: 20rem;
}

.charity2-card {
  margin-left:2rem;
  display:flex;
  margin-top:2vw;
  justify-content: space-between;
  align-items:center;
}

.charity2-card-content {
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:100%;
}

.image2 {
  width:6vw;
  height:6vw;
  border-radius:1vw;
}

.charity2-name {
  font-weight: 500;
  font-size: larger;
}

.charity2-position {
  margin-top:0.5vw;
  color:#61788A;
  font-weight: 1.2vw;
}

.heart-icon {
  font-size: 1.5vw;
  color:#CCCCCC;
}

@media (max-width: 1200px) { 
  .charity-container {
    width:97.5%;
  }
}

@media (max-width: 1000px) { 
  .charity-container {
    width:97%;
  }

  .charity-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 0.5vw), 1fr));
   }

   .heart-icon {
    font-size: 2vw;

  }

}

@media (max-width: 800px) { 

  .charity-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 0.5vw), 1fr));
   }

}

@media (max-width: 750px) { 
  .charity-container {
    width: 100%;
  }
.charity-card {
  margin-left: 0;
}
.charity2-card {
  margin-left: 0;
}
  .charity-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 0.5vw), 1fr));
   }

}
@media (max-width: 600px) { 

  .charity-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.5vw), 1fr));
   }
   .heart-icon {
    font-size: 2.5vw;

  }
}

@media (max-width: 450px) { 

  .charity-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 0.5vw), 1fr));
   }
   .heart-icon {
    font-size: 4vw;

  }
}