.home {
  width: 100%;
}

.home-featured {
  margin: 5rem;
  margin-top: 10rem;
}

.featured {
  width: 100%;
}

.filter-buttons {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  height: 5rem;
}

.filter-buttons-active {
  width: 100%;
  background-color: #f28290;
  color: white;
  border-radius: 10px;
  border: 1px solid #f28290;
  height: 5rem;
}

::-webkit-scrollbar {
  display: none;
}

.filter-buttons-text {
  color: black;
  text-align: center;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.filter-buttons-text-active {
  color: white;
  text-align: center;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.select-text {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-right: 0;
}

.select-text-active {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-right: 0;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 0;
  padding: 0;
}

.scrollable-carousel {
  margin-top:1vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer, Edge */
  scrollbar-width: none; /* For Chrome, Safari */
}

.scrollable-carousel::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.additional-buttons {
  width: 10%;
  height: 100%;
  border-radius: 10rem;
}

.categories-container {
  display:flex;
  flex-direction: row;
  width:97%;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  margin-left:2rem;
}

.home-title {
  margin-left:2rem;
}

@media (max-width: 1200px) {
  .categories-container {
    width:96%;
  }
}

@media (max-width: 1000px) {
  .categories-container {
    width:95.5%;
  }

  .scrollable-carousel {
    margin-top: -0.5vw;
  }
}

@media (max-width: 900px) {
  .categories-container {
    width:95%;
  }

  .scrollable-carousel {
    margin-top: -2vw;
  }
}

@media (max-width: 800px) {
  .categories-container {
    width:94%;
  }
}

@media (max-width: 750px) {
  .home-title {
    margin-left:0.1rem;
  }
  .categories-container {
    width:100%;
    margin-left:0.1rem;
  }
}

@media (max-width: 600px) {
  .scrollable-carousel {
    margin-top: -3vw;
  }
}

@media (max-width: 500px) {
  .scrollable-carousel {
    margin-top: -4vw;
  }
}

