.home {
  width: 100%;
}

.home-featured {
  margin: 5rem;
  margin-top: 10rem;
}

.featured {
  width: 100%;
}

.filter-buttons {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  height: 5rem;
}

.filter-buttons-active {
  width: 100%;
  background-color: #f28290;
  color: white;
  border-radius: 10px;
  border: 1px solid #f28290;
  height: 5rem;
}

::-webkit-scrollbar {
  display: none;
}

.filter-buttons-text {
  color: black;
  text-align: center;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.filter-buttons-text-active {
  color: white;
  text-align: center;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.select-text {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-right: 0;
}

.select-text-active {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-right: 0;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 0;
  padding: 0;
}

.scrollable-carousel {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer, Edge */
  scrollbar-width: none; /* For Chrome, Safari */
}

.scrollable-carousel::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.additional-buttons {
  width: 10%;
  height: 100%;
  border-radius: 10rem;
}
