.navigation {
  width: 100%;
  height: auto; /* Change height to auto */
  background: $background-color;
  display: flex;
  align-items: center;
  padding: 1rem 5rem; /* Adjust padding */
  position: absolute;
  top: 0;
  transform: translateY(0);
  z-index: map-get($z-index, navigation);
  box-shadow: none;
  border-bottom: 1px solid black;
  @include bezier-transition(transform, 0.3s, ease);

  @include tablet {
    padding: 1rem 2rem; /* Adjust padding for tablet */
  }

  @include mobile {
    padding: 1rem; /* Adjust padding for mobile */
    position: fixed;
  }

  .logo {
    height: inherit;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
    padding-left:0.7vw;
  }


  .logo img {
    width: 3rem;
    height: auto; /* Change height to auto */
    object-fit: contain;
  }

  .logo a {
    display: block;
    height: 100%;
  }

  .searchbar {
    width: 300px;
  }

  .navigation-menu-main {
    flex-grow: 1;
    width: 100%;

    li {
      display: inline-block;
      text-align: center;

      a {
        display: block; /* Make links block-level */
        padding: 1.3rem 1.4rem; /* Adjust padding */
        font-size: 1.4rem;
        opacity: 0.5;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 0 0.5rem; /* Adjust margin */
        line-height: 1; /* Set line-height to 1 */
        
        &:hover {
          background: $background-color-01;
        }
      }
    }
  }

  .navigation-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 35%;

    @include tablet {
      width: auto; /* Adjust width for tablet */
    }
  }

  .navigation-menu-item {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navigation-action {
    display: flex;
    align-items: center;
    margin-left: $xxl-size;
  }

  .navigation-menu-link {
    color: $heading-color;
    padding: $xs-size $m-size;
    text-decoration: none;
    font-size: $font-small;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;

    &:hover {
      text-decoration: none;
      background: $background-color-01;
    }
  }

  .navigation-menu-active {
    font-weight: bold;
    opacity: 1 !important;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navigation-big-menu {
    display: flex;
    justify-content: center;
    align-items:center;
     margin-left: 10vw;
     margin-right:-2vw;
  }

  .big-menu-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 0.5vw), 1fr)); /* Adjusted */
    margin-left: 6vw;
    padding: 0;
    grid-gap: 0.5vw;
  
    @include mobile {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  .big-menu-container {
    position: absolute;
    width: 105vw;
    height: 43vw;
    top: 6vw;
    background-color: white;
    margin-left: -5vw;
  }

  .menu-item-header {
  opacity: 0.4;
  color: #000000;
  margin-bottom: -1vw;
}

.menu-item {
  color: #000000;
  margin-bottom: -1vw;
  font-size:1.2vw;
  font-weight: 400;
}

.menu-item-header:active,
.menu-button:active {
  color: #F28290;
}

.menu-item:active
 {
  color: #F28290;
}

.menu-button {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  border-radius: 1vw;
  border: 1px solid black;
  background-color: transparent;
  padding: 1vw;
  margin-bottom: 0.5vw;
}
  
}
