.searchbar {
  // width: 400px;
  display: flex;
  position: relative;
}
.search-wrap {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-right: 3vw;
}

.searchbar-icon {
  position: absolute;
  right: $m-size;
  top: 0;
  bottom: 0;
  margin: auto;
color:black;
  font-size: 2rem;
}

.searchbar-input {
  width: 10rem;
  background: $white;
  border-radius:1vw;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items:center;
}

.searchbar-recent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  display: none;
  
}

.searchbar-recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $m-size;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 94%;
    height: 1px;
    background: $border-color;
  }
}

.searchbar-recent-clear:hover {
  cursor: pointer;
}

.searchbar-recent-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $m-size;
  padding-right: 0;

  &:hover {
    background: $border-color;
    cursor: pointer;
  }
}

.searchbar-recent-keyword {
  flex-grow: 1;
  padding: $s-size 0;
}

.searchbar-recent-button {
  font-weight: bold;
  padding: $s-size;
}

@media (max-width: 1400px) {
  .search-wrap {
    display: flex;
    align-items:center;
    justify-content: center;
  }
  
  .searchbar-icon {
    position: absolute;
    right: $m-size + 5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #7a7a7a;
    font-size: 2rem;
  }
  
  .searchbar-input {
    margin-left:-5vw;
    width: 17vw;
    background: $white;
    border-radius:1vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items:center;
  }
}

@media (max-width: 1100px) {
  .searchbar-input {
    margin-left:-6vw;
    font-size: 1.4vw;
  }

}

@media (max-width: 900px) {
  .searchbar-input {
    margin-left:-7vw;
    font-size: 1.5vw;
  }
}

@media (max-width: 750px) {
  .searchbar-input {
    margin-left:-9vw;
  }
}

@media (max-width: 650px) {
  .searchbar-input {
    margin-left:-10vw;
  }
}

@media (max-width: 600px) {
  .searchbar-input {
    margin-left:-11vw;
  }
}

@media (max-width: 550px) {
  .searchbar-input {
    margin-left:-12vw;
  }
}

@media (max-width: 500px) {
  .searchbar-input {
    margin-left:-13vw;
  }
  .searchbar-icon {
    width:3vw;
  }
}

@media (max-width: 450px) {
  .searchbar-input {
    margin-left:-14vw;
  }
}

@media (max-width: 430px) {
  .searchbar-input {
    margin-left:-16vw;
  }
}

@media (max-width: 400px) {
  .searchbar-input {
    margin-left:-18vw;
  }
}