.tender-container {
  width:97%;
}
.tender-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 0.5vw), 1fr)); /* Adjusted */
  margin-left: 2rem;
  padding: 0;
  grid-gap: 0.5vw;
}
.tender-card {
 width:100%;
 height: 100%;
    border: 1px solid black;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
    flex-direction: column;
}

.tender-wrap {
  background: rgb(242, 130, 144);
  width:100%;
  height: 100%;
  border-radius: 1vw;
  padding: 1vw;
}
.tender-date {
  border-radius: 2vw;
  background: white;
  width: fit-content;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-icon-wrapper {
  background: white;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.bookmark-icon {
color:#F28290;
font-size: 1.5vw;
}

.tender-details {
  display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 5vw;
    padding: 0.3vw;
}

.tender-team {
  color:white;
  margin-bottom: 0vw;
}

.tender-position {
  font-size: 1.9vw;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.tender-type {
  border: 2px solid white;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
}

.tender-level {
  border: 2px solid white;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: fit-content;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 0.5vw;
}

.tender-bottom-wrap {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0vw;
    margin-bottom: -1vw;
}

.tender-price-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.tender-price-txt {
  font-weight: bold;
  font-size: 1.9vw;
  margin-bottom: 0px;
}

.tender-location {
  font-weight: bold;
  font-size: 1vw;
  margin-top: 0.5vw;
}

.message-send-btn {
  background: rgb(242, 130, 144);
  border-radius: 1.5vw;
  border: none;
  width: fit-content;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-icon {
  margin-right: 0.5vw;
  color:white;
}

.message-send-txt {
  color:white;
}


.tender-type-txt {
  color:white;
}

@media (max-width: 1200px) {
  .tender-container {
    width:96%;
  }
  .message-send-btn {
    height: 4vw;
  }
}

@media (max-width: 900px) {
  .tender-container {
    width:95%;
  }
  .message-send-btn {
    height: 3vw;
  }
  .message-icon {
    font-size: 1.4vw;
  }
  .message-send-txt {
    font-size: 1.4vw;
  }
}

@media (max-width: 800px) {
  .tender-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.5vw), 1fr)); /* Adjusted */
  }
  .tender-container {
    width:95%;
  }
  .message-send-btn {
    height: 5vw;
  }
  .message-icon {
    font-size: 2vw;
  }
  .message-send-txt {
    font-size: 2vw;
  }
}

@media (max-width: 750px) {
  .tender-container {
    width:100%;
  }

  .tender-grid {
  margin-left: 0vw;
  }
}

@media (max-width: 600px) {
.tender-date {
  font-size: 1.5vw;
}
.tender-team {
  font-size: 2vw;
}
.tender-position {
  font-size: 2vw;
}
.tender-type-txt {
  font-size: 1.5vw;
}
}

@media (max-width: 450px) {
  .tender-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 0.5vw), 1fr)); /* Adjusted */
  }
  }
