.tender-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 0.5vw), 1fr)); /* Adjusted */
  margin-left: 2rem;
  padding: 0;
  grid-gap: 0.5vw;

  @include mobile {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
