.tender-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  // grid-gap: 1rem;
  margin-left: 2rem;
  padding:0;

  @include mobile {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}